.about-wrapper {
  width: 100%;
  height: fit-content;
  margin: 0;
}

.about-banner {
  height: 50vh;
  background-color: var(--background-color-secondary);

  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  background-attachment: fixed;

  background-image: url("../../public/images/image.jpg");
}

.about-content-wrapper {
  box-shadow: 0 0 64px 32px var(--background-color-secondary);

  margin-bottom: var(--margin-big);
}

.about-content {
  width: calc(100% - var(--margin-big));
  height: 100%;
  min-height: 100vh;

  margin: 0;

  background-color: var(--background-color-secondary);
}
