.about-wrapper {
  width: 100%;
  height: fit-content;
  margin: 0;
  background-color: var(--background-color-primary);

  overflow: hidden;
}

.about-banner {
  height: 50vh;
  background-color: var(--background-color-secondary);

  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  background-attachment: fixed;

  background-image: url("../../public/images/horsy.jpg");
}

.about-content-wrapper {
  position: relative;
}

.about-content {
  width: calc(100%);
  height: 100%;
  min-height: 100vh;

  margin: 0;

  background-color: var(--background-color-secondary);
}

.about-content .div-wave-wrapper {
  right: 0;
  top: 0;
  width: 60%;
  height: 90px;
  position: absolute;
}

.about-main-content-wrapper {
  background-color: var(--background-color-primary);
  padding-bottom: var(--margin-big);
}

.about-main-content-wrapper h1 {
  margin-top: 0;
}

.about-main-content {
  margin: 0 var(--margin-medium);
}

.wave-container-wrapper {
  width: 100%;
  height: 80vh;
  background-color: var(--background-color-secondary);

  display: flex;
}

.particle-mask {
  height: 100%;
  width: 100%;
}

.wave-container-wrapper .left {
  width: 50%;
  margin: 0 var(--margin-medium);
}

.wave-container-wrapper .right {
  width: 50%;
  position: relative;
}

.wave-container-wrapper .quote-wrapper {
  width: 35vw;
  min-width: fit-content;
  margin: var(--margin-big) 0;
}

.quote-wrapper .quote {
  font-size: 2rem;
  font-family: "Caveat";
  color: var(--text-colored);

  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.right .about-me-img {
  border-radius: 50%;
  height: 25vw;
  width: 25vw;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../public/images/me.jpg");

  transform: scaleX(-1);

  overflow: hidden;
  position: absolute;
}

.about-image-row {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
}

.about-image-row p {
  flex: 1;
  margin-right: var(--margin-big);
}

.about-image-row-image {
  width: 25vw;
  height: 15vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/images/programing-icons.png");
}

@media only screen and (max-width: 600px) {
  .wave-container-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  .wave-container-wrapper .left,
  .wave-container-wrapper .right {
    width: calc(100% - 2 * var(--margin-medium));
    position: relative;
    margin: 0 var(--margin-medium);
  }

  .wave-container-wrapper .right {
    height: calc(60vh + 2 * var(--margin-big));
    width: 100%;
  }

  .wave-container-wrapper svg {
    display: none;
  }

  .wave-container-wrapper .about-me-img {
    position: relative;
    margin: var(--margin-big) 0;
    padding: 0;

    width: 80vw;
    height: 80vw;

    position: relative;
  }

  .about-image-row {
    flex-direction: column;
  }

  .about-image-row-image {
    width: 80vw;
    height: 80vw;
    align-self: center;
    background-position: center;
    background-size: contain;
  }
}
