.transparent-button,
.text-button {
  color: var(--text-primary);
  font-weight: 400;

  min-width: fit-content;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: var(--transition-speed) ease-in-out;
  &:hover {
    color: var(--blue-color-secondary);
    transition: var(--transition-speed) ease-in-out;
  }
}

.transparent-button {
  width: 18vw;
  border: 1px solid var(--blue-color-secondary);
  border-radius: 20px;

  &:hover {
    border: 1px solid var(--blue-color-primary);
  }
}

.text-button {
  margin: 1rem 0;
  width: fit-content;
}

.button-icon::before {
  content: " ";
  display: inline-block;
}

.down-arrow-infinite-icon .button-icon {
  animation: sclaeArrowDown 2s infinite;
}

.right-arrow-hover-icon .button-icon {
  animation: sclaeArrowRight 2s infinite;
  transition: transform 200ms ease-in-out;
}

.right-arrow-hover-icon:hover .button-icon {
  transform: translateX(4px);
  animation: none;
}

@media only screen and (max-width: 600px) {
  .transparent-button {
    width: 50vw;
  }
}

@keyframes sclaeArrowRight {
  0% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes sclaeArrowDown {
  0% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}
