.contact-wrapper {
  width: 100%;
  height: fit-content;
  margin: 0;
  background-color: var(--background-color-primary);
}

.contact-banner {
  height: 50vh;
  background-color: var(--background-color-secondary);

  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  background-attachment: fixed;

  background-image: url("../../public/images/mountains.jpg");
}

.contact-content-wrapper {
  position: relative;
}

.contact-content {
  width: calc(100%);
  height: 100%;

  margin: 0;

  background-color: var(--background-color-secondary);

  display: flex;
  height: fit-content;
}

.contact-information {
  flex: 1;
  padding: var(--padding-big);
}

.contact-information .button-container {
  width: 100%;

  display: flex;
}

.contact-information .button-container .text-button {
  margin-top: 0;
  cursor: default;

  &:hover {
    color: var(--text-primary);
  }
}

.contact-img-container {
  width: 30vw;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--padding-big) 0;
}

.contact-img {
  border-radius: 50%;
  height: 25vw;
  width: 25vw;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../public/images/snow.jpg");

  transform: scaleX(-1);

  overflow: hidden;
  position: absolute;
}

.contact-grid {
  display: grid;
  grid-template-columns: 8% 92%;
  grid-template-rows: auto auto;
  gap: var(--gap-small);
}

.contact-griditem-social-icon {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contact-griditem-social-text {
  display: flex;
  justify-content: start;
  align-items: center;

  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
}

.contact-griditem-social-text a {
  color: var(--text-primary);
  text-decoration: none;

  transition: all var(--transition-speed) ease-in-out;
  &:hover {
    text-shadow: 0px 0px 3px var(--text-primary);
  }
}

.bottom-wave-wrapper {
  position: relative;
  height: 200px;
}

.bottom-wave-wrapper .wave-container {
  background-color: var(--background-color-secondary);
}

.wave-text {
  font-size: 2.5rem;
  font-family: "Caveat";
  color: var(--text-primary);

  text-shadow: 0px 0px 2px var(--text-primary);

  cursor: default;
}

@media (prefers-color-scheme: light) {
  .wave-text {
    color: var(--background-color-primary);
    text-shadow: 0px 0px 2px var(--background-color-primary);
  }
}

@media only screen and (max-width: 600px) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }

  .contact-information {
    padding-bottom: 0;
  }

  .contact-grid {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: calc(2 * var(--margin-big));
    background-color: var(--background-color-primary);
    border-radius: var(--border-radius-medium);
  }

  .contact-griditem-social-icon {
    scale: 1.2;
    padding: var(--padding-medium);
  }

  .contact-griditem-social-text {
    display: none;
  }

  .contact-img-container {
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .contact-img {
    width: 70vw;
    height: 70vw;
  }

  .wave-text {
    display: none;
  }
}
