.big-logo-wrapper {
  height: fit-content;
  padding-top: 3vh;
}

.big-logo-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;

  animation: fadeIn 3s ease-in-out;
  padding: 4vh 0;
}

.logo-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 200px;
  user-select: none;
  animation: fadeIn 1s ease-in-out;

  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.big-logo {
  animation: text-glimmer 20s infinite;
}

.logo-text-name {
  font-size: 3rem;
  user-select: none;
  color: var(--blue-color-primary);
}

.logo-text-master {
  height: 2rem;
  width: 100%;

  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: var(--blue-color-secondary);
}

@keyframes text-glimmer {
  0% {
    fill: var(--blue-color-primary);
    filter: none;
  }
  50% {
    fill: var(--blue-color-secondary);
    filter: drop-shadow(0 0 4px var(--blue-color-primary));
  }
  100% {
    fill: var(--blue-color-primary);
    filter: none;
  }
}

@media only screen and (max-width: 1050px) {
  .big-logo-content svg {
    min-width: 70vw;
    min-height: 70vw;
    margin: 0;
  }

  .logo-text-wrapper {
    margin: 0;
    height: fit-content;
  }

  .logo-text-name {
    display: none;
    margin: 0;
  }

  .logo-text-master {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;

    text-align: center;
    margin: 0 var(--margin-medium);
    margin-bottom: var(--margin-big);

    font-size: 1rem;
  }
}
