@font-face {
  font-family: "Logo";
  src: url("https://fonts.googleapis.com/css?family=Caveat");
}

.navbar {
  z-index: 2;

  position: fixed;
  background-color: var(--background-color-primary);
  transition: width var(--transition-speed) ease;
  overflow: hidden;
  white-space: nowrap;
}

.navbar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  overflow-y: auto;
  direction: rtl;
}

.navbar-ul li {
  direction: ltr;
}
.navbar-item {
  width: 100%;
}

.navbar-item:last-child {
  background-color: var(--purple-color-primary);
}

.navbar-a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 12vh;
  color: var(--text-primary);
  text-decoration: none;

  /*For hover effect*/
  filter: opacity(0.8);
  transition: var(--transition-speed);
}

#navbar-logo {
  filter: opacity(1);
  display: flex;
  gap: 5%;
}

.navbar-a:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--gray-color-primary);
}

.navbar-a:hover .navbar-svg {
  transform: rotate(-10deg) scale(1.5);
  transition: var(--transition-speed);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.navbar-svg {
  margin: 0 1.5rem;
}

.navbar-svg-item {
  fill: var(--text-primary);
  width: 2vw;
  height: 2vw;
}

.active-svg-item {
  fill: var(--blue-color-primary);
}

#logo-path-svg {
  width: 3vw;
  height: 3vw;

  fill: var(--blue-color-primary);
}

.navbar-logo {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.3ch;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background-color: var(--background-color-secondary);
  width: 100%;
}

.navbar-a:hover #logo-path-svg {
  transform: rotate(10deg) scale(1.5);
  transition: var(--transition-speed);
}

[data-theme="light"] {
  .navbar-a:hover {
    background-color: var(--background-color-secondary);
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: var(--nav-small-height);
  }

  .navbar-ul {
    flex-direction: row;
    margin: 0;
  }

  .navbar-a {
    justify-content: center;
    height: var(--nav-small-height);
  }

  .navbar-a .navbar-svg {
    width: 30%;
    height: 30%;
    min-width: 20px;
    min-height: 20px;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-item:last-child {
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    left: 0;

    width: var(--nav-width);
    height: 100vh;
  }

  .navbar:hover {
    width: 20rem;
  }
  .navbar:hover .navbar-a {
    justify-content: flex-start;
  }

  .navbar:hover .link-text {
    display: block;
    transition: width 800ms ease;
    color: var(--text-primary);
  }

  .navbar-item:last-child {
    margin-top: auto; /*Max out margin to top*/
  }
}
