.project-wrapper {
  width: 100%;
  height: fit-content;
  margin: 0;
}

.select-project-wrapper {
  box-shadow: 0 0 64px 32px var(--background-color-secondary);
}

.project-content-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  box-shadow: 0 0 64px 32px var(--background-color-secondary);
}

.project-content {
  width: calc(100% - var(--margin-big));
  height: 100%;
  margin: 0;

  background-color: var(--background-color-secondary);
}

.select-project-banner,
.project-banner {
  height: 50vh;
  background-color: var(--background-color-secondary);

  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  background-attachment: fixed;

  background-image: url("../../public/images/image.jpg");
}

.project-header-wrapper {
  margin-bottom: var(--margin-big);
}

.project-header {
  width: 100%;
  margin: 0;
  text-align: center;
}

.top-wave-wrapper {
  width: 100%;
  position: relative;
}

.top-wave-container {
  position: absolute;
  width: 100%;

  display: flex;
}

.div-wave-padding {
  width: 50%;
  height: 90px;
}

.div-wave-wrapper {
  width: 50%;
  height: 90px;
}

.my-projects-wrapper {
  margin: 0 var(--margin-big);
  height: 40vh;
}

.my-projects-wrapper h1 {
  margin-top: 0;
}

.main-wave-text {
  width: 50%;
  text-align: center;
}

.select-project-text {
  height: 500px;
}

.select-project-container {
  background-color: var(--background-color-secondary);
  margin: var(--margin-medium);
  margin-bottom: 0;
  padding: var(--gap-big);
  border-radius: var(--border-radius-small);

  display: flex;
  flex-direction: column;
  height: fit-content;
}

.select-project-container-row {
  grid-template-columns: repeat(3, 1fr);

  display: grid;
  flex-wrap: wrap;
  gap: var(--gap-big);

  height: fit-content;
}

.select-project-card {
  opacity: 0;
  width: max;
  height: 500px;

  display: flex;
  flex-direction: column;

  position: relative;

  background-color: var(--background-color-primary);

  border-radius: var(--border-radius-small);

  color: inherit;
  text-decoration: none;
  transition: all var(--transition-speed-fast) ease-in;
}

.select-project-card:hover {
  scale: var(--svg-scale-small);
  box-shadow: 0 0 10px 8px var(--blue-color-secondary);
}

.select-project-card img {
  width: 100%;
  height: 50%;
  display: block;
  object-fit: cover;

  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select-project-card-content {
  margin: var(--margin-small) var(--margin-medium);
  height: 50%;

  display: flex;
  flex-direction: column;
}

.select-project-card-content h2 {
  margin: var(--margin-medium) 0;
}

.select-project-card-content p {
  flex: 1;
  margin: 0;
  font-size: 0.9rem;
}

.select-project-card-svg {
  position: relative;
  height: 15%;
  width: 100%;
  border-radius: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.select-project-card-svg svg {
  width: 100%;
  height: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  filter: drop-shadow(var(--shadow-box-x));
  z-index: 0;
  border-radius: inherit;

  transition: all var(--transition-speed) ease-in-out;
}

.select-project-card-svg .text {
  position: absolute;
  z-index: 1;
  width: 40%;
  text-align: center;
  margin: var(--margin-medium);

  display: flex;
  justify-content: center;
  gap: var(--margin-medium);
}

.select-project-card:hover .select-project-card-svg svg {
  filter: drop-shadow(0 0 10px var(--blue-color-secondary));
}

.select-project-card .select-project-card-svg .arrow {
  transition: transform var(--transition-speed) ease-in-out;
}
.select-project-card:hover .select-project-card-svg .arrow {
  transform: translateX(4px);
}

.info-grid {
  width: calc(100%- 2 * var(--margin-medium));
  margin: 0 var(--margin-medium);

  display: flex;
  justify-content: space-between;
}

.info-grid > div {
  flex: 1 1 25%;
  max-width: 25%;
  text-align: center;
  box-sizing: border-box;
}

.info-grid .header {
  width: 100%;
  margin: var(--margin-medium) 0;
}

.info-grid svg {
  width: 40px;
  height: 40px;
}

.info-grid .date {
  margin: 0;
}

.info-grid .developers {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  gap: var(--gap-small);
}

.info-grid .links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  gap: var(--gap-small);
}

.info-grid .keywords {
  display: flex;
  width: 100%;
  height: fit-content;

  flex-wrap: wrap;
  overflow-x: auto;
  gap: var(--gap-small);
  cursor: default;
}

.info-grid .keywords .keyword-item {
  width: fit-content;
  height: fit-content;
  white-space: nowrap;

  font-size: 1rem;

  background-color: var(--blue-color-primary);

  padding: calc(var(--border-radius-big) / 4) calc(var(--border-radius-big) / 2);
  border-radius: var(--border-radius-big);
}

.project-information-content {
  margin-top: var(--margin-medium);
  width: calc(100% - 2 * var(--margin-medium));

  border-top: 2px solid var(--background-color-primary);
}

.project-information-content .row {
  width: 100%;
  margin: 1rem 0;
  padding: 0 var(--margin-medium);
}

.project-information-content .grid-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";

  gap: var(--margin-small);
  padding: 1rem var(--margin-medium);

  background-color: var(--background-color-primary);

  box-shadow: var(--shadow-box-x);
}

.grid-row svg {
  position: absolute;
  z-index: 0;

  top: -1rem;
  right: calc(-1 * var(--margin-medium));

  width: calc(100% + var(--margin-medium));
  height: calc(100% + 2rem);

  filter: drop-shadow(var(--shadow-box-x));
}

.grid-row .left {
  width: 100%;
  grid-area: left;
}

.grid-row .right {
  width: 100%;
  grid-area: right;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: relative;
}

.grid-row .right img {
  width: 90%;

  border-radius: var(--margin-small);
  box-shadow: 4px 4px 16px 8px var(--shadow-color);

  z-index: 1;
}

.project-information-content .quote-wrapper {
  width: 50vw;
  min-width: fit-content;
  margin-bottom: calc(2 * var(--margin-big));
}

.quote-wrapper .quote {
  font-size: 3rem;
  font-family: "Caveat";
  color: var(--text-colored);

  overflow: hidden;
  display: inline-block;
  white-space: nowrap;

  opacity: 0;
}

.image-grid-wrapper {
  width: 100%;
}

.image-grid-content {
  margin: var(--margin-medium);
}
.image-grid-content .image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin: var(--margin-medium) 0;

  padding: var(--margin-medium);
  border-radius: var(--border-radius-medium);

  background-color: var(--background-color-primary);

  flex-wrap: wrap;
  gap: var(--gap-big);

  height: fit-content;
}

.image-grid-wrapper .image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-medium);

  transform: scale(1);
  box-shadow: 0px 0px 8px 4px var(--shadow-color);
  transition: transform var(--transition-speed-slow) ease-in-out,
    box-shadow var(--transition-speed-slow) ease-in-out;

  opacity: 0;
}

.image-grid-wrapper .image-grid img:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 16px 8px var(--shadow-color);
  transition: transform var(--transition-speed-fast) ease-in,
    box-shadow var(--transition-speed-fast) ease-in;
}

@media only screen and (max-width: 600px) {
  .div-wave-wrapper .wave-container {
    height: 50%;
  }

  .select-project-container-row {
    grid-template-columns: repeat(1, 1fr);

    display: grid;
    flex-wrap: wrap;
    gap: var(--gap-big);

    height: fit-content;
  }

  .keywords-wrapper {
    display: none;
  }

  .grid-row .right {
    width: 100%;
    grid-area: right;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
  }

  .grid-row svg {
    display: none;
  }

  .project-information-content .grid-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "right";
  }

  .image-grid-content .image-grid {
    grid-template-columns: 1fr;
  }

  .select-project-card-svg {
    display: none;
  }

  .quote-wrapper {
    display: none;
  }
}
