.project-wrapper {
  min-height: 100vh;
}

.select-project-banner {
  height: 50vh;
  background-color: var(--background-color-secondary);
}

.select-project-container {
  background-color: var(--background-color-secondary);
  margin: var(--margin-medium);
  padding: var(--gap-big);
  border-radius: var(--border-radius-small);

  display: flex;
  flex-direction: column;
  height: fit-content;
}

.select-project-container-row {
  grid-template-columns: repeat(3, 1fr);

  display: grid;
  flex-wrap: wrap;
  gap: var(--gap-big);

  height: fit-content;
}

.select-project-card {
  opacity: 0;
  width: max;
  height: 30vh;

  background-color: var(--background-color-primary);

  border-radius: var(--border-radius-small);
  padding: var(--border-radius-small);

  color: inherit;
  text-decoration: none;
  transition: all var(--transition-speed-fast) ease-in;
}

.select-project-card:hover {
  scale: var(--svg-scale-small);
}
