/*======================== Import ========================*/
@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.cdnfonts.com/css/copperplate");

/*======================== Global var ========================*/
:root {
  font-family: "Calibri";
  font-size: 1.2rem;
  background-color: var(--background-color-primary);

  --shadow-color: #00000060;
  --shadow-box-x: -1rem 0 1rem var(--shadow-color);

  --text-primary: #ffffff;
  --text-colored: #596fbd;

  --background-color-primary: #22252a;
  --background-color-secondary: #292c33;

  --blue-color-primary: #596fbd;
  --blue-color-secondary: #4d5d99;
  --purple-color-primary: #52547d;

  --blue-color-primary-transparent: rgba(89, 111, 189, 0.5);
  --blue-color-secondary-transparent: rgba(77, 93, 153, 0.5);
  --purple-color-primary-transparent: rgba(82, 84, 125, 0.5);

  --gray-color-primary: #46474c;

  --transition-speed-fast: 100ms;
  --transition-speed: 200ms;
  --transition-speed-slow: 300ms;
  --transition-speed-realy-slow: 500ms;

  --border-radius-small: 8px;
  --border-radius-medium: 12px;
  --border-radius-big: 16px;

  --svg-scale-small: 1.05;
  --svg-scale-normal: 1.1;

  --nav-width: 4.5rem;

  --nav-small-height: 5rem;

  --padding-small: 4px;
  --padding-medium: 16px;
  --padding-big: 32px;

  --margin-small: 4px;
  --margin-medium: 16px;
  --margin-big: 32px;

  --gap-small: 4px;
  --gap-medium: 8px;
  --gap-big: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    --shadow-color: #00000060;
    --shadow-box-x: -1rem 0 1rem var(--shadow-color);

    --text-primary: #000000;
    --text-colored: #354992;

    --background-color-primary: #f7f9fc;
    --background-color-secondary: #d8e1f6;

    --blue-color-primary: #5c74cb;
    --blue-color-secondary: #7e91d8;
    --purple-color-primary: #5b5fa7;

    --blue-color-primary-transparent: rgba(89, 111, 189, 0.5);
    --blue-color-secondary-transparent: rgba(77, 93, 153, 0.5);
    --purple-color-primary-transparent: rgba(82, 84, 125, 0.5);

    --gray-color-primary: #303034;
  }
}

/*======================== Global CSS ========================*/

svg {
  fill: var(--blue-color-primary);
}

body {
  background-color: var(--background-color-primary);
  margin: 0;
  color: var(--text-primary);
}

.content-wrapper {
  padding-left: var(--nav-width);
}

h1 {
  font-size: 2.5rem;
  padding-top: 0.8vh;
  margin: var(--margin-big) 0;
}

h2 {
  font-size: 1.5rem;
}

.slideIn {
  opacity: 1;
  animation: slideInFromBottom 0.6s ease-in-out;
}

.typeIn {
  opacity: 1;
  animation: drawText 5s steps(92);
  animation-fill-mode: forwards;
}

.typeInAllWhenvisible {
  opacity: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.drawAllWhenvisible {
  opacity: 0;
}

.slideInAllWhenvisible {
  opacity: 0;
}

.draw {
  opacity: 1;
  animation: drawText 5s ease-in-out;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
}

.hidden {
  opacity: 0;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .content-wrapper {
    padding-left: 0;
  }

  .body {
    width: 100vw;
  }

  * {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
    overflow-wrap: break-word;
    padding: 5px;
  }

  .style-text {
    display: none;
  }
}

/*======================== Keyframes ========================*/

@keyframes fadeIn {
  from {
    /* transform: translateX(40vw); */
    opacity: 0;
  }
  to {
    /* transform: translateX(1vw); */
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    /* transform: translateX(40vw); */
    filter: blur(10px);
  }
  to {
    /* transform: translateX(1vw); */
    filter: blur(0px);
  }
}

@keyframes blurInBackdrop {
  from {
    /* transform: translateX(40vw); */
    backdrop-filter: blur(10px);
  }
  to {
    /* transform: translateX(1vw); */
    backdrop-filter: blur(0px);
  }
}

@keyframes rotationAnimation {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(var(--svg-scale-normal));
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleAnimationFast {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(var(--svg-scale-small));
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(var(--svg-scale-normal));
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes drawText {
  0% {
    width: 0%;
  }
  10% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
