/*======================== Import ========================*/
@import url("https://fonts.googleapis.com/css?family=Caveat");

/*======================== Global var ========================*/
:root {
  font-family: "Calibri";
  font-size: 1.2rem;
  background-color: var(--background-color-primary);

  --shadow-color: #00000060;
  --shadow-box-x: -1rem 0 1rem var(--shadow-color);

  --text-primary: #ffffff;
  --text-colored: #596fbd;

  --background-color-primary: #22252a;
  --background-color-secondary: #292c33;

  --blue-color-primary: #596fbd;
  --blue-color-secondary: #4d5d99;
  --purple-color-primary: #52547d;

  --gray-color-primary: #46474c;

  --transition-speed: 200ms;
  --transition-speed-slow: 300ms;
  --transition-speed-realy-slow: 500ms;

  --border-radius-small: 8px;
  --border-radius-big: 16px;

  --svg-scale-small: 1.05;
  --svg-scale-normal: 1.1;

  --nav-width: 4.5rem;
}

/*======================== Global CSS ========================*/

svg {
  fill: var(--blue-color-primary);
}

body {
  background-color: var(--background-color-primary);
  margin: 0;
  color: var(--text-primary);
}

.content-wrapper {
  padding-left: var(--nav-width);
}

h1 {
  font-size: 2.5rem;
  padding-top: 0.8vh;
}

h2 {
  font-size: 1.5rem;
}

.slideIn {
  opacity: 1;
  animation: slideInFromBottom 0.6s ease-in-out;
}

.typeIn {
  opacity: 1;
  animation: typing 3s ease-in-out;
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
}

.hidden {
  opacity: 0;
}

/* Small screens */
@media only screen and (max-width: 1050px) {
  .content-wrapper {
    padding-left: 0;
  }

  .body {
    width: 100vw;
  }

  * {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
    overflow-wrap: break-word;
    padding: 5px;
  }

  .style-text {
    display: none;
  }
}

/*======================== Keyframes ========================*/

@keyframes fadeIn {
  from {
    /* transform: translateX(40vw); */
    opacity: 0;
  }
  to {
    /* transform: translateX(1vw); */
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    /* transform: translateX(40vw); */
    filter: blur(10px);
  }
  to {
    /* transform: translateX(1vw); */
    filter: blur(0px);
  }
}

@keyframes blurInBackdrop {
  from {
    /* transform: translateX(40vw); */
    backdrop-filter: blur(10px);
  }
  to {
    /* transform: translateX(1vw); */
    backdrop-filter: blur(0px);
  }
}

@keyframes rotationAnimation {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(var(--svg-scale-normal));
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleAnimationFast {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(var(--svg-scale-small));
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(var(--svg-scale-normal));
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
