.logo-socials-wapper {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--gap-big);

  height: fit-content;
  animation: fadeIn 1s ease-in-out;
}

@media only screen and (max-width: 1050px) {
  .logo-socials-wapper {
    margin: 0;
    height: fit-content;
  }

  .logo-socials-wapper svg {
    min-width: 22vw;
    min-height: 22vw;
  }
}
