:root {
  --text-primary: #ffffff;
  --background-color-primary: #22252a;
  --blue-color-primary: #596fbd;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[data-theme="light"] {
  :root {
    --text-primary: #292929;
    --background-color-primary: #f7f9fc;
    --blue-color-primary: #6b86e8;
  }
}
svg {
  fill: var(--blue-color-primary);
}

.return {
  transition: 200ms ease-in-out;
}
